<aside class="col-sm-4 mx-auto">
    <div class="card">
        <article class="card-body">
            <form action="Create" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Donation Title</label>
                    <input name="DonationTitle" class="form-control" placeholder="Name" type="text">
                </div>
                <div class="form-group">
                    <label>Food Description</label>
                    <input name="FoodDescription" class="form-control" placeholder="Food Description" type="text">
                </div>
                <div class="form-group">
                    <label>Food Weight</label>
                    <input name="FoodWeight" class="form-control" placeholder="Food Weight" type="text">
                </div>
                <div class="form-group">
                    <label>Food Photo</label>
                    <input name="Photo" class="form-control" placeholder="Food Photo" type="file">
                </div>
                <div class="form-group">
                    <label>Location</label>
                    <input name="Location" class="form-control" placeholder="Location" type="text">
                </div>
                <div class="form-group">
                    <label>Contact No</label>
                    <input name="ContactNo" class="form-control" placeholder="Contact No" type="number">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Donate  </button>
                </div>
            </form>
        </article>
    </div>
</aside>

